<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>IOS9MultipleOutletsTutorial.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E2AB7B091C60E26C0012CAB9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E2AB7B1D1C60E26E0012CAB9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E2AB7B281C60E26E0012CAB9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
