<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WatchKitPositioningTutorial Watch App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>WatchKitPositioningTutorial.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E24FB8DA1A25E9A500397217</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E24FB8EF1A25E9A500397217</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E24FB9101A25E9B900397217</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
